################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SportsSln
**/bin/
**/obj/
.vs/
TestResults/
*.user
*.suo
*.cache
Logs/
